<div id="main-wrapper">

    <app-header></app-header>

    <app-sidebar></app-sidebar>

    <div class="page-wrapper">
        <div class="container-fluid">
            <!-- BreadCrumbs -->
            <app-breadcrumbs></app-breadcrumbs>
            <!-- Mi sistema de rutas -->
            <router-outlet></router-outlet>

            <!--   
                <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">


                        </div>
                    </div>
                </div>
            </div> 
        -->

        </div>
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer">
            <div class="row">
                <div class="col text-left ">© {{year}} GesAstur Todos los Derechos Reservados</div>
                <div class="col-4">
                    <a routerLink="./politica" class="text-center">Ley de Proteccion de datos</a>
                </div>
                <div class="col text-right"><a routerLink="/dashboard/crearIncidencia"
                        class="btn btn-warning mdi mdi-alert-outline">Reportar una Incidencia</a>
                </div>
            </div>
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->

    </div>

</div>

<app-modal-imagen></app-modal-imagen>