<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Bienvenido a GesAstur </h1>
                <h2 class="card-subtitle">Tu Aplicacion de Gestion De Hospitales</h2>

                <h3>¿Que es GesAstur? </h3>
                <p>Ges Astur es una aplicacion web cuyo objetivo es <b>Gestionar</b> todos los hospitales de asturias y
                    sus respectivos pacientes y trabajadores</p>
                <h3>¿Como se usa GesAstur?</h3>
                <p>A tu izquierda tienes un panel de control donde podras <b>Gestionar</b> los diferentes apartados de
                    la aplicacion web
                <h3>¿Como reporto una incidencia en GesAstur?</h3>
                <p>si tienes algun problema
                    con la aplicacion web podras mandar una incidencia bien atraves del apartado de abajo a la derecha o
                    bien atraves de este <a routerLink="/dashboard/crearIncidencia">link</a></p>
                <h3>¿Puedo buscar algun medico o algun hospital en concreto?</h3>
                <p>Si puedes, solo tienes que pulsar en la lupa de arriba e introducir la letra o palabra que quieras y
                    nuestro buscador hara el resto</p>
                <h3>¿Puedo personalizar el tema de la pagina a mi gusto?</h3>
                <p>Si puedes, tenemos diferentes temas para personalizar la pagina a gusto en ajustes de cuenta a la
                    izquierda en perfil o en la foto de arriba a la derecha en configuracion de tema o en el siguiente
                    <a routerLink="/dashboard/account-settings">link </a>,si no es de tu agrado pedes mandar una
                    incidencia si asi lo deseas
                </p>
            </div>

        </div>
    </div>
</div>