<div class="container">
    <div class="justify-content-center">
        <div class="card">
            <div class="card-body">
                <div class="row">

                    <div class="col-8">

                        <h4 class="card-title">Registrar Medico</h4>
                        <h6 class="card-subtitle">Rellene los campos correspondientes * es obligatorio</h6>

                    </div>

                    <div class="col">

                        <div class="text-right">
                            <a class="btn btn-primary" routerLink="/dashboard/medicos">
                                <i class="icon-people"> Volver</i>
                            </a>
                        </div>

                    </div>

                </div>

                <form class="form-horizontal p-t-20" [formGroup]="medicoForm" (submit)="guardarMedico()">


                    <div class="form-group row">
                        <label for="uname" class="col-sm-3 control-label">Nombre*</label>

                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-user"></i></div>
                                <input type="text" formControlName="nombre" class="form-control" id="uname"
                                    placeholder="Nombre del Medico">
                            </div>
                        </div>

                    </div>

                    <div class="form-group row">
                        <label for="uname" class="col-sm-3 control-label">Email*</label>

                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-user"></i></div>
                                <input type="text" formControlName="email" class="form-control" id="email"
                                    placeholder="Email del Medico">
                            </div>
                        </div>

                    </div>

                    <div class="form-group row">
                        <label for="web1" class="col-sm-3 control-label">Hospital*</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-building-o"></i></div>
                                <select class="form-control" formControlName="hospital">
                                    <option value="">Seleccione Hospital</option>
                                    <option *ngFor="let hospital of hospitales" [value]="hospital._id">
                                        {{hospital.nombre}}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row" *ngIf="hospitalSeleccionado">
                        <label for="uname" class="col-sm-3 control-label">Imagen</label>
                        <div class="col-sm-9">
                            <h4 class="card-title"></h4>
                            <div class="input-group">

                                <img [src]="hospitalSeleccionado.img | imagen: 'hospitales'" class="avatarEditar" />
                            </div>
                        </div>

                    </div>


                    <div class="form-group row m-b-0">
                        <div class="offset-sm-3 col-sm-9 ">
                            <button type="submit" [disabled]="medicoForm.invalid"
                                class="btn btn-success waves-effect waves-light">
                                <i class="fa fa-save"> Guardar Cambios</i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>