<div class="row">
    <div class="col-lg-12 ">
        <img class="rounded mx-auto d-block" src="..\assets\images\PoliticaPrivacidad.jpg" alt="">
    </div>
    <div class="col-lg-12">
        <p class="p1">En cumplimiento de las obligaciones establecidas en la Ley Orgánica 3/2018, de 5 de diciembre, de
            Protección de Datos Personales y Garantía<span class="Apple-converted-space">&nbsp; </span>de los Derechos
            Digitales se le facilita la información relativa al tratamiento de sus datos personales:</p>
        <p class="p3"><b>¿Quién es el responsable del tratamiento de tus datos?</b></p>
        <p class="p3">GesAstur<span class="Apple-converted-space">&nbsp; </span>CIF: 123456789</p>
        <p>GesAstur SLU se encuentra inscrita en el Registro Mercantil de Asturias, Tomo 12345, Libro 0, Folio 59,
            Hoja
            AS-12345698, Inscripción 1.</p>
        <p class="p3 nitro-offscreen">Domicilio: C/ MONTECERRAO, 28 – OFIC. 1 33006, OVIEDO.</p>
        <p class="p3 nitro-offscreen">Tfno: 985 737 597</p>
        <p class="p3 nitro-offscreen">Mail: info@GesAstur.com</p>
        <p class="p3 nitro-offscreen">Web: GesAstur.com</p>
        <p class="p3 nitro-offscreen">Delegado de protección de datos:</p>
        <p class="p3 nitro-offscreen">Puedes dirigirte de cualquier forma para comunicarte con nosotros.</p>
        <p class="p3 nitro-offscreen">Nos reservamos el derecho a modificar o adaptar la presente Política de Privacidad
            en
            cualquier momento. Te recomendamos revisar la misma, y si te has registrado y accedes a tu cuenta o perfil,
            se
            te informará de las modificaciones.</p>
        <p class="p3 nitro-offscreen">Si eres alguno de los siguientes colectivos, consulta la información desplegable:
        </p>
        <p class="p3 nitro-offscreen"><b> + CONTACTOS DE LA WEB O DEL CORREO ELECTRÓNICO</b></p>
        <p class="p3 nitro-offscreen"><b>¿Qué datos recopilamos a través de la Web?</b></p>
        <p class="p3 nitro-offscreen">Podemos tratar tu IP, qué sistema operativo o navegador usas, e incluso la
            duración de
            tu visita, de forma anónima.</p>
        <p class="p3 nitro-offscreen">Si nos facilitas datos en el formulario de contacto, te identificarás para poder
            contactar contigo, en caso de que sea necesario.</p>
        <p class="p5 nitro-offscreen"><b>¿Con que finalidades vamos a tratar sus datos personales?</b></p>
        <ul class="ul1 nitro-offscreen">
            <li class="li3">Contestar a tus consultas, solicitudes o peticiones.</li>
            <li class="li3">Gestionar el servicio solicitado, contestar tu solicitud, o tramitar tu petición.</li>
            <li class="li3">Información por medios electrónicos, que versen sobre tu solicitud.</li>
            <li class="li3">Información comercial o de eventos por medios electrónicos, siempre que exista autorización
                expresa.</li>
            <li class="li3">Realizar análisis y mejoras en la Web, sobre nuestros productos y servicios.<span
                    class="Apple-converted-space">&nbsp; </span>Mejorar nuestra estrategia comercial.</li>
        </ul>
        <p class="p3 nitro-offscreen"><b>¿Cuál es la legitimación para el tratamiento de tus datos?</b></p>
        <p class="p3 nitro-offscreen">La aceptación y consentimiento del interesado: En aquellos casos donde para
            realizar
            una solicitud sea necesario cumplimentar un formulario y hacer un «click» en el botón de enviar, la
            realización
            del mismo implicará necesariamente que ha sido informado y ha otorgado expresamente su consentimiento al
            contenido de la cláusula anexada a dicho formulario o aceptación de la política de privacidad.</p>
        <p class="p3 nitro-offscreen">Todos nuestros formularios cuentan con el símbolo * en los datos obligatorios. Si
            no
            facilitas esos campos, o no marcas el checkbox de aceptación de la política de privacidad, no se permitirá
            el
            envío de la información. Normalmente tiene la siguiente fórmula: “□ Soy mayor de 14 y he leído y acepto la
            Política de privacidad.”</p>
        <p class="p3 nitro-offscreen"><b> + CLIENTES</b></p>
        <p class="p3 nitro-offscreen"><b>¿Con que finalidades vamos a tratar tus datos personales?</b></p>
        <ul class="ul1 nitro-offscreen">
            <li class="li3">Elaboración del presupuesto y seguimiento del mismo mediante comunicaciones entre ambas
                partes.
            </li>
            <li class="li3">Información por medios electrónicos, que versen sobre tu solicitud.</li>
            <li class="li3">Información comercial o de eventos por medios electrónicos, siempre que exista autorización
                expresa.</li>
            <li class="li3">Gestionar los servicios administrativos, de comunicaciones y de logística realizados por el
                Responsable.</li>
            <li class="li3">Facturación y declaración de los impuestos oportunos..</li>
            <li class="li3">Realizar las transacciones que correspondan.</li>
            <li class="li3">Gestiones de control y recobro.</li>
        </ul>
        <p class="p3 nitro-offscreen"><b><br> + PROVEEDORES</b></p>
        <p class="p3 nitro-offscreen"><b>¿Con que finalidades vamos a tratar tus datos personales?</b></p>
        <ul class="ul1 nitro-offscreen">
            <li class="li3">Información por medios electrónicos, que versen sobre tu solicitud.</li>
            <li class="li3">Información comercial o de eventos por medios electrónicos, siempre que exista autorización
                expresa.</li>
            <li class="li3">Gestionar los servicios administrativos, de comunicaciones y de logística realizados por el
                Responsable.</li>
            <li class="li3">Facturación.</li>
            <li class="li3">Realizar las transacciones que correspondan.</li>
            <li class="li3">Facturación y declaración de los impuestos oportunos.</li>
            <li class="li3">Gestiones de control y recobro.</li>
        </ul>
        <p class="p3 nitro-offscreen"><b>¿Cuál es la legitimación para el tratamiento de tus datos?</b></p>
        <p class="p3 nitro-offscreen">La base legal es la aceptación de una relación contractual, o en su defecto tu
            consentimiento al contactar con nosotros u ofrecernos sus productos por alguna vía.</p>
        <p class="p3 nitro-offscreen"><b>+ CONTACTOS REDES SOCIALES</b></p>
        <p class="p3 nitro-offscreen"><b>¿Con que finalidades vamos a tratar tus datos personales?</b></p>
        <ul class="ul1 nitro-offscreen">
            <li class="li3">Contestar a tus consultas, solicitudes<span class="Apple-converted-space">&nbsp; </span>o
                peticiones.</li>
            <li class="li3">Gestionar el servicio solicitado, contestar tu solicitud, o tramitar tu petición.</li>
            <li class="li3">Relacionarnos contigo y crear una comunidad de seguidores.</li>
        </ul>
        <p class="p3 nitro-offscreen"><b>¿Cuál es la legitimación para el tratamiento de tus datos?</b></p>
        <p class="p3 nitro-offscreen">La aceptación de una relación contractual en el entorno de la red social que
            corresponda, y conforme a sus políticas de Privacidad:</p>
        <p class="p17 nitro-offscreen"><span class="s6">Facebook <a
                    href="http://www.facebook.com/policy.php?ref=pf"><span
                        class="s7">http://www.facebook.com/policy.php?ref=pf</span></a></span></p>
        <p class="p18 nitro-offscreen"><span class="s6"> Instagram <a
                    href="https://help.instagram.com/155833707900388"><span
                        class="s7">https://help.instagram.com/155833707900388</span></a></span></p>
        <p class="p18 nitro-offscreen"><span class="s6"> Twitter<span class="Apple-converted-space">&nbsp; &nbsp;
                </span><a href="http://twitter.com/privacy"><span
                        class="s7">http://twitter.com/privacy</span></a></span>
        </p>
        <p class="p18 nitro-offscreen"><span class="s6"> Linkedin <a
                    href="http://www.linkedin.com/legal/privacy-policy?trk=hb_ft_priv"><span
                        class="s7">http://www.linkedin.com/legal/privacy-policy?trk=hb_ft_priv</span></a></span></p>
        <p class="p18 nitro-offscreen"><span class="s6"> Pinterest <a
                    href="https://about.pinterest.com/es/privacy-policy"><span
                        class="s7">https://about.pinterest.com/es/privacy-policy</span></a></span></p>
        <p class="p18 nitro-offscreen"><span class="s6"> Youtube <a
                    href="http://www.google.com/intl/es/policies/privacy/"><span
                        class="s7">http://www.google.com/intl/es/policies/privacy/</span></a></span></p>
        <p class="p3 nitro-offscreen"><b>¿Durante cuánto tiempo vamos a mantener los datos personales?</b></p>
        <p class="p3 nitro-offscreen">Sólo podemos consultar o dar de baja tus datos de forma restringida al tener un
            perfil
            específico. Los trataremos tanto tiempo como tu nos dejes siguiéndonos, siendo amigos o dándole a “me
            gusta”,
            “seguir” o botones similares.</p>
        <p class="p3 nitro-offscreen">Cualquier rectificación de tus datos o restricción de información o de
            publicaciones
            debes realizarla a través de la configuración de tu perfil o usuario en la propia red social.</p>
        <p class="p3 nitro-offscreen"><b> + DEMANDANTES DE EMPLEO</b></p>
        <p class="p3 nitro-offscreen"><b>¿Con que finalidades vamos a tratar tus datos personales?</b></p>
        <ul class="ul1 nitro-offscreen">
            <li class="li3">Organización de procesos de selección para la contratación de empleados.</li>
            <li class="li3">Citarte para entrevistas de trabajo y evaluar tu candidatura.</li>
            <li class="li3">Si nos has dado tu consentimiento, se lo podremos ceder a empresas colaboradoras o afines,
                con
                el único objetivo de ayudarte a encontrar empleo.</li>
            <li class="li3">Si marcas el checkbox de aceptación de la política de privacidad, nos das tu consentimiento
                para
                ceder tu solicitud de empleo a las entidades que componen el grupo de empresas con el objetivo de
                incluirte
                en sus procesos de selección de personal</li>
        </ul>
        <p class="p19 nitro-offscreen">Asimismo, te comunicamos que transcurrido un año desde la recepción de tu
            currículum
            vitae, procederemos a su destrucción segura.</p>
        <p class="p3 nitro-offscreen"><b>¿Cuál es la legitimación para el tratamiento de tus datos?</b></p>
        <p class="p3 nitro-offscreen">La base legal es tu consentimiento inequívoco, al enviarnos tu CV.</p>
        <ul class="ul1 nitro-offscreen">
            <li class="li21"><span class="s8"><b>+<span class="Apple-converted-space">&nbsp;
                        </span></b></span><b>RECLAMACIONES Y QUEJAS </b></li>
        </ul>
        <p class="p21 nitro-offscreen"><b>¿Con que finalidades vamos a tratar tus datos personales?</b></p>
        <ul class="ul1 nitro-offscreen">
            <li class="li19">Recogida de su queja y reclamación con el fin de proceder al trámite de la misma</li>
        </ul>
        <p class="p21 nitro-offscreen"><b>¿Cuál es la legitimación para el tratamiento de tus datos?</b></p>
        <ul class="ul1 nitro-offscreen">
            <li class="li19">Cumplimiento de los fines legales establecidos por la legislación vigente relativa a los
                colegios profesionales</li>
            <li class="li19">La aceptación y consentimiento del interesado: En aquellos casos donde para realizar una
                solicitud sea necesario cumplimentar un formulario y hacer un “click” en el botón de enviar, la
                realización
                del mismo implicará necesariamente que ha sido informado y ha otorgado expresamente su consentimiento al
                contenido de la cláusula anexada a dicho formulario o aceptación de la política de privacidad.</li>
        </ul>
        <p class="p19 nitro-offscreen">Todos nuestros formularios cuentan con el símbolo * en los datos obligatorios. Si
            no
            facilita esos campos, o no marca el checkbox de aceptación de la política de privacidad, no se permitirá el
            envío de la información incluida en el formulario. Normalmente tiene la siguiente fórmula: <span
                class="s9"><i>“□ Soy mayor de 14 y he leído y acepto la Política de privacidad.”</i></span></p>
    </div>
</div>