<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input type="text" class="form-control" placeholder="Buscar Admin...">

            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn fast">
    <div class=" col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0"> Por favor Espere </p>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Total de Administradores ({{ totalAdministradores}}) </h4>
                <h6 class="card-subtitle">Administradores en la pagina</h6>

                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Imagen de Usuario</th>
                                <th>Correo</th>
                                <th>Nombre</th>
                                <th>Role</th>
                                <th class="text-nowrap">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let administrador of administradores">
                                <td>xxxxxx</td>
                                <td class="label label-info">{{administrador.email}}</td>
                                <td>{{administrador.nombre}}</td>
                                <td>{{administrador.role}}</td>

                                <td class="text-nowrap">
                                    <a href="#" data-toggle="tooltip" data-original-title="Editar"> <i
                                            class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                    <a href="#" data-toggle="tooltip" data-original-title="Borrar"> <i
                                            class="fa fa-close text-danger"></i> </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <button (click)="cambiarPagina(-5)" class="btn btn-secondary">Pagina Anterior</button>
                &nbsp;
                <button (click)="cambiarPagina(5)" class="btn btn-secondary">Pagina Siguiente</button>
                &nbsp;
                <p>Total de Paginas {{desde}}</p>
            </div>
        </div>
    </div>
</div>